snippet mail
nicolas.gquerol@gmail.com
endsnippet

snippet author
Author: Nicolas G. Querol <nicolas.gquerol@gmail.com>
endsnippet

snippet date
`date +%d/%m/%y`
endsnippet

snippet ddate
`date '+%d/%m/%y, %H:%M'`
endsnippet

snippet fold
" ${1:title} {{{
${2:content}
" }}}
endsnippet
